<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Cookbook{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <button class="menu-toggle">☰ Menu</button>
        <ul class="menu" id="menu">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/add">Add a Recipe</a></li>
        </ul>
    </nav>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Cooking Book Logo" class="logo">
        </div>
        <h1>Natziely's Cookbook</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        Feliz Navidad!❤️
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
